* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease 0s;
    width: 190px;
    text-align: center;
    border-radius: 8px;
}

li:hover {
    background-color: #B9BEA5;
}

.navBar {
    position: relative;
    background-color: #f7ece1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-right: 50px;
    
}

#logo {
    height: 90px;
}

.ul-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-category li {
    justify-content: space-around;
}

.ul-paletas, .ul-pelotas, .ul-outlet {
    display: none;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}

.li-paletas:hover .ul-paletas {
    display: block;
}

.li-pelotas:hover .ul-pelotas {
    display: block;
}

.li-outlet:hover .ul-outlet {
    display: block;
}